<mat-card class="example-card">
  <mat-card-content>
     
    <button *ngIf="!(authService.user | async)" (click) = "toLogin()">
      Login
    </button>
      <button *ngIf="authService.user | async" (click) = "toLogout()" >
        Log out
      </button>
      <button *ngIf="!(authService.user | async)" (click) = "toRegister()" >
        Register
      </button>
      <button (click) = "toBooks()">
        Books
      </button>
   
 </mat-card-content>
 </mat-card>
