
<div *ngIf="authService.user | async">
  <h1>
    Hey there {{(authService.user | async)?.displayName}} !
  </h1>
</div>

<h2 *ngIf="!(authService.user | async)">Manage your reading list</h2>

<button mat-button color="primary" *ngIf="!(authService.user | async)" (click) = "toLogin()">
  Login
</button>

  <button mat-button color="primary" *ngIf="!(authService.user | async)" (click) = "toRegister()" >
    Register
  </button>

  <header *ngIf="authService.user | async">
    <h2>Your books list:</h2> 
   </header>
 
  <div *ngIf="authService.user | async">
    <mat-list>
      <book *ngFor ="let book of books" 
            [data] ="book"  
            (myButtonClick) = "showText($event)"
            ></book>
    </mat-list>
  
    {{name}}
  </div>
  <br>

<br>

  <div *ngIf="authService.user | async" class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter new book" [(ngModel)]="newBook"><br>  
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Enter book auther" [(ngModel)]="newAuther"><br>
    </mat-form-field>
  
    
  </div>
  
  <button *ngIf="authService.user | async" mat-raised-button (click)= "addItem()">
    Add
  </button>
