<mat-list-item (mouseleave) = "notOver()"
    (mouseenter) = "over()">
    <mat-checkbox [(ngModel)]="read" (click)="changeRead()"></mat-checkbox>
  <span *ngIf= "!showEditField" (click)= "showEdit()">{{name}}  </span> 

  <mat-form-field *ngIf= "showEditField">
    <input matInput  [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field *ngIf= "showEditField">
    <input matInput  [(ngModel)]="auther">
  </mat-form-field>
 

  <button mat-raised-button *ngIf= "showEditField" (click)="save()">Save</button>
  <button mat-raised-button *ngIf= "showEditField" (click)="cancel()">Cancel</button>

  <h3 *ngIf = "showButton && !showEditField" >- by   {{auther}}   </h3>

  <button mat-raised-button (click) = "delete()"
          *ngIf = "showButton"
          >
      Delete
  </button>
</mat-list-item>
