<header>
  <h1>Register</h1> 
 </header>
<br>
<form class="example-form">
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Name" value="Enter Name" [(ngModel)]="name" name="name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Nickname" value="Enter Nickname" [(ngModel)]="nickname" name="nickname" required>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]= "email1"  required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  


    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Password" [(ngModel)]="password" name="password" required></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Your password again please" [(ngModel)]="password2" name="password2" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)= "signUp()">Register</button>

  </form>

  <div class="error">
    {{errM}}
  </div>
